.card .card-img {
  position: relative;
  color: #fff;
  font-size: 30px;
  overflow: hidden;
}

.card .card-img .card-img-curtain {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.card:hover .card-img .card-img-curtain {
  opacity: 1;
}

.card .card-img::before {
  z-index: 3;
  content: "Hello";
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  transition: top 0.35s;
}

.card:hover .card-img::before {
  top: 35%;
}

.card .card-img::after {
  z-index: 3;
  content: "World";
  position: absolute;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
  transition: bottom 0.35s;
}

.card:hover .card-img::after {
  bottom: 35%;
}
